<div class="contents row">
  <div class="container">
    <%= form_tag('/projects', method: :post) do %>
      <h3>
        Project
      </h3>
      <input placeholder="title" type="string" name="title">
      <textarea cols="30" name="project_detail" placeholder="project detail" rows="10"></textarea>
      <input placeholder="industry" type="string" name="industry">
      <textarea cols="30" name="other" placeholder="other" rows="10"></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>
</div>
