<div class="contents row" >
  <p><%= @name %>'s projects</p>
  <% @projects.each do |project| %>
    <div class="content_post" style="background-image: url(https://media.giphy.com/media/3oEdvagnVMWBVmi1cA/giphy.gif)">
      <%= simple_format(project.title) %>
      <span class="name"><%= project.company.name %></span>
    </div>
  <% end %>
  <%= paginate(@projects) %>
</div>