<div class="contents row">
    <h3>
      Edit
    </h3>
        <%= form_for [@project,@concept] do |f| %>
          <%= f.text_field :title , :placeholder => "title" %>
          <%= f.text_field :image , :placeholder => "image url" %>
          <%= f.submit 'post' %>
        <% end %>
</div>