      .main_header_area{
        width: 100%;
        background-image: image-url('https://media.giphy.com/media/5xaOcLHmiRQgRKr21ws/giphy.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;

        .main_header_wrapper{
          width:660px;
          margin:0 auto;
          padding:50px 20px;

          .main_copy_wrapper{
            margin-top:190px;
            position: relative;
            &:before{
              content: "";
              width: 650px;
              height: 100px;
              padding:20px;
              top: -20px;
              left: -20px;
              position: absolute;
              background-color: white;
              -webkit-filter: blur(40px);
              opacity: 0.35;
            }
            .main_copy {
              position: relative;
              color: gray;
              font-size: 36px;
              font-weight: bold;
              text-align: center;
              letter-spacing: 0.1em;
              line-height: 1.5;
            }
          }
          .main_title_wrapper{
            margin:80px auto 50px auto;
            .main_title {
              color: gray;
              font-size: 18px; //20px;
              line-height: 1.9; //1.7;
              //font-weight:bold;
              text-align: center;
              letter-spacing: 0.05em;
            }
            .main_button_wrapper{
              margin-top:50px;
              text-align:center;
              button{
                font-size:18px;
                padding:20px 60px;
                letter-spacing: 0.1em;
                font-weight:normal;
              }
            }

          }
        }
      }

      .responsive_area{
        width: 100%;
        &.gray{
          background-color:gray;
        }
        &.white{
          background-color:white;
        }
        .responsive_wrapper{
          width:100%;
          margin:0 auto;
          padding: 60px 20px;
          &:after{
            content: "";
            clear: both;
            display: block;
          }

          .main_copy_wrapper{
            margin-bottom:40px;
            .main_copy{
              color:gray;
              font-size:30px;
              font-weight:bold;
              text-align:center;
              letter-spacing: 0.1em;
              line-height:1.5;
            }
          }

          .system_wrapper{
            &:after{
              content: "";
              clear: both;
              display: block;
            }
            .system_content_wrapper{
              float:left;
              width: 213px;
              margin:10px auto;
              .system_image {
                width: 213px;
                height: 130px;
                margin: 10px 10px;
                background-position: center;
                background-repeat: no-repeat;
                background-size:cover;
                &.image1{
                  background-image: image-url('https://www.ideo.com/images/made/24b08ebdef4ed82b/Cho_Dana_large_170_170.jpg');
                }
                &.image2{
                  background-image: image-url('https://media.giphy.com/media/TlK63EDCam0dqCG6Ta8/200.gif');
                }
                &.image3{
                  background-image: image-url('https://www.ideo.com/images/made/24b08ebdef4ed82b/Hendrix_Michael_2_217px_170_170.jpg');
                }
                &.image4{
                  background-image: image-url('https://media.giphy.com/media/3o7ZeOdmzMAyQJpHKE/200.gif');
                }
                &.image5{
                  background-image: image-url('https://www.ideo.com/images/made/24b08ebdef4ed82b/Papadopoulos_Annetta_large_170_170.jpg');
                }
                &.image6{
                  background-image: image-url('https://media.giphy.com/media/3o8doRZiFvftetTenu/200.gif');
                }
                &.image7{
                  background-image: image-url('https://media.giphy.com/media/xTiTnoGBOyiIqWNRGE/giphy.gif');
                }
                &.image8{
                  background-image: image-url('https://www.ideo.com/images/made/24b08ebdef4ed82b/charles_marcus_217px_170_170.jpg');
                }
                &.image9{
                  background-image: image-url('https://media.giphy.com/media/5xaOcLNaxyTBblwx5OU/200.gif');
                }
                &.image10{
                  background-image: image-url('https://www.ideo.com/images/made/24b08ebdef4ed82b/Stevenson_Neil_217_170_170.jpg');
                }
                &.image11{
                  background-image: image-url('https://media.giphy.com/media/3o8dp4AJDl5aI4qqI0/200.gif');
                }
                &.image12{
                  background-image: image-url('https://www.ideo.com/images/made/24b08ebdef4ed82b/wong_tony_217px_170_170.png');
                }

              }
            }
          }
        }
      }

